$text-primary-colour: #fff;
$text-secondary-colour: 'blue';
$link-text-colour: #fd4766;
$header-accent-colour: #75758F;

$background-primary-colour: rgb(0, 6, 15);
$background-secondary-colour: #010a18;

// $background-secondary-colour: #000726;
$background-tertiary-colour: '';


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $text-primary-colour;
    background-color: $background-secondary-colour;
}