.nav {
    position: fixed;
    z-index: 15;
    top: 0;
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 3rem 4rem;
    transition: .5s ease-in;

    &__logo {
        object-fit: contain;
        width: 13rem;
        height: auto;
        margin-right: 4rem;
        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
    }

    &__link-box {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &:hover {
            color: $link-text-colour;
            text-decoration: underline;
            text-underline-offset: 1.5rem;
            text-decoration-thickness: .2rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: inherit;
        font-size: 1.8rem;
        font-weight: 700;
        text-decoration: none;
    }

    &__social-box {
        list-style: none;
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    &__social-icon {
        width: 3rem;        
    }

    &__social-icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(106%) contrast(101%);
    }
}

.header-content {
    padding-left: 20.75rem;
    padding-right: 20.75rem;
    padding-top: 24vh;
    
    &__title-prefix {
        font-size: 3rem;
        font-weight: 500;
        color: $header-accent-colour;
        margin-bottom: 2rem;
    }

    &__title {
        font-size: 7.5rem;
        font-weight: 900;
    }

    &__sub-title {
        font-size: 7.5rem;
        font-weight: 900;
        color: $link-text-colour;
    }
}

.about-content {
    // display: flex;

    &__bitmoji {
        border: solid #757575 .2rem;
        border-radius: 1rem;
        margin-right: 7rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__header {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

    &__text {
        font-size: 2.2rem;
        color: #757575;
        margin-bottom: 3.5rem;
    }

    &__filter-cont {
        display: flex;
        list-style: none;
        background-color: #000b34;
        padding: 1.25rem 1.25rem;
        border-radius: 50em;
        margin-bottom: 4rem;
    }

    &__filter-item {
        font-weight: 800;
        padding: 1.5rem 3rem;
        border-radius: 10rem;
        transition: .2s ease-in;
        cursor: pointer;
    }
}

.front-end {
    &__box {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 57.2rem;
    }

    &__skill {
        flex: 0 0 48%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &:nth-child(odd) {
            margin-right: 2rem;
        }
    }

    &__text {
        font-size: 2rem;
        font-weight: 700;
    }

    &__icon {
        width: 3rem;
        transition: .1s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate{
    from{
        transform: translateY(-.5rem) scale(.88) rotate(0deg)
        
      }
      to{
        transform: translateY(-.5rem) scale(.88) rotate(360deg)
      }
  }

.back-end {
    min-height: 18rem;

    &__box {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 57.2rem;
    }

    &__skill {
        flex: 0 0 48%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 2rem;
        }

        &:nth-child(odd) {
            margin-right: 2rem;
        }
    }

    &__text {
        font-size: 2rem;
        font-weight: 700;
    }

    &__icon {
        width: 3rem;
        transition: .1s;
    }

}

.experience {
    min-height: 18rem;

    &__box {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 57.2rem;
    }

    &__job-info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        flex: 0 0 100%;
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    &__job-title-box {
        display: flex;
        align-items: center;
    }

    &__role {
        margin-bottom: .5rem;
        font-weight: 800;
    }

    &__company {
        margin-right: 1rem;
    }

    &__icon {
        width: 3.5rem;
        transition: .1s;
    }
}

.education {
    min-height: 18rem;

    &__box {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 57.2rem;
    }

    &__item {
        flex: 0 0 100%;
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    &__info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin-bottom: .5rem;
        font-weight: 800;
    }

    &__school-info-box {
        display: flex;
        align-items: center;
    }

    &__school {
        margin-right: 1rem;
    }

    &__icon {
        width: 3.5rem;
        transition: .1s;
        filter: invert(97%) sepia(99%) saturate(0%) hue-rotate(293deg) brightness(115%) contrast(100%);
    }
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

    &__text {
        font-size: 2.2rem;
        color: #757575;
        margin-bottom: 8rem;
    }
}

.project-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;

    &__item-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 390px;
        height: 530px;
        padding: 0 1.5rem;
        border-radius: 1rem;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 100%;
        transition: .5s ease-out;

        &:hover {
            background-position: 50% -1rem;
            background-size: 103%;
        }
    }

    &__text-box {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .5s;
    }

    &__type {
        font-size: 2rem;
        color: #D3D3D3;
    }

    &__title {
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 2rem;
        font-weight: 500;
        color: #D3D3D3;
        text-align: center;
        opacity: 0;
        min-height: 5.8rem;
    }

    &__background-gradient {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: .89rem;
        background-image: linear-gradient(180deg,rgba(15,15,15,0),rgba(15,15,15,.75));
        transition: .75s;
        opacity: 1;
    }

    &__hover-background-gradient {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: .89rem;
        opacity: 0;
        transition: .75s;
        background-image: linear-gradient(180deg,transparent,$background-primary-colour);
    }
}

.contact-container {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
    // background-color: orangered;

    &__header {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

    &__phone-number {
        font-size: 1.8rem;
        margin-right: auto;
        color: #757575;
        margin-bottom: .5rem;
    }

    &__phone-number-text {
        font-size: 2rem;
        font-weight: 600;
    }

    &__email {
        font-size: 1.8rem;
        margin-right: auto;
        color: #757575;
        margin-bottom: 5rem;
    }

    &__email-text {
        font-size: 2rem;
        font-weight: 700;
    }


}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > * {
        outline: none;
        color: #fff;
        font-family: inherit;
        background-color: transparent;
        border: .1rem solid #757575;
        border-radius: .7rem;
        padding: 2rem;
        margin-bottom: 2rem;
        font-weight: 700;
    }

    &__message {
        resize: none;
        min-height: 15.6rem;
    }

    &__send-button {
        outline: none;
        border: none;
        color: #fff;
        background-color: $link-text-colour;
        margin-right: auto;
        font-weight: 800;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        font-family: inherit;
        cursor: pointer;
    }
}